
body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    color: #003366;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #0055a5;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
